@import "bootstrap/dist/css/bootstrap.min.css";
@import "bootstrap-icons/font/bootstrap-icons.css";
@import "tom-select/dist/css/tom-select.bootstrap5.css";

/* Tu CSS custom (equivalente a css/styles.css) */
@import "./general/custom.css";
